<div class="fh5co-loader"></div>

<div id="page">
  <nav class="fh5co-nav" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">
          <div id="fh5co-logo">
            <a href="index.html">Wedding<strong>.</strong></a>
          </div>
        </div>
        <div class="col-xs-10 text-right menu-1">
          <ul>
            <li class="active"><a href="">Home</a></li>
            <li><a href="/invitation">Invitation</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <header
    id="fh5co-header"
    class="fh5co-cover"
    role="banner"
    style="background-image: url(assets/images/img_bg_2.jpg)"
    data-stellar-background-ratio="0.5"
  >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <div class="display-t">
            <div class="display-tc animate-box" data-animate-effect="fadeIn">
              <h1 style="font-family: 'Dancing Script' !important">Trọng Khang &amp; Huyền Hanh</h1>
              <h2>We Are Getting Married</h2>
              <div class="simply-countdown simply-countdown-one"></div>
              <p>
                <a href="#" class="btn btn-default btn-sm">Save the date</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div id="fh5co-couple">
    <div class="container">
      <div class="row">
        <div
          class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box"
        >
          <h2>Hello!</h2>
          <h3>December 24th, 2023 Bac Giang</h3>
          <p>We invited you to celebrate our wedding</p>
        </div>
      </div>
      <div class="couple-wrap animate-box">
        <div class="couple-half">
          <div class="groom">
            <img src="assets/images/groom.jpg" alt="groom" class="img-responsive" />
          </div>
          <div class="desc-groom">
            <h3 style="font-family: 'Dancing Script' !important">Trọng Khang</h3>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts. Separated
              they live in Bookmarksgrove
            </p>
          </div>
        </div>
        <p class="heart text-center"><i class="icon-heart2"></i></p>
        <div class="couple-half">
          <div class="bride">
            <img src="assets/images/bride.jpg" alt="groom" class="img-responsive" />
          </div>
          <div class="desc-bride">
            <h3 style="font-family: 'Dancing Script' !important">Huyền Hanh</h3>
            <p>
              Far far away, behind the word mountains, far from the countries
              Vokalia and Consonantia, there live the blind texts. Separated
              they live in Bookmarksgrove
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    id="fh5co-event"
    class="fh5co-bg"
    style="background-image: url(assets/images/img_bg_3.jpg)"
  >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div
          class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box"
        >
          <span>Our Special Events</span>
          <h2>Wedding Events</h2>
        </div>
      </div>
      <div class="row">
        <div class="display-t">
          <div class="display-tc">
            <div class="col-md-10 col-md-offset-1">
              <div class="col-md-6 col-sm-6 text-center">
                <div class="event-wrap animate-box">
                  <h3>Wedding Party</h3>
                  <div class="event-col">
                    <i class="icon-clock"></i>
                    <span>15:00 PM</span>
                  </div>
                  <div class="event-col">
                    <i class="icon-calendar"></i>
                    <span>Sunday 24</span>
                    <span>December, 2023</span>
                  </div>
                  <p>
                    <!-- Far far away, behind the word mountains, far from the
                    countries Vokalia and Consonantia, there live the blind
                    texts. Separated they live in Bookmarksgrove right at the
                    coast of the Semantics, a large language ocean. -->
                  </p>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 text-center">
                <div class="event-wrap animate-box">
                  <h3>Main Ceremony</h3>
                  <div class="event-col">
                    <i class="icon-clock"></i>
                    <span>9:00 AM</span>
                  </div>
                  <div class="event-col">
                    <i class="icon-calendar"></i>
                    <span>Monday 25</span>
                    <span>December, 2023</span>
                  </div>
                  <p>
                    <!-- Far far away, behind the word mountains, far from the
                    countries Vokalia and Consonantia, there live the blind
                    texts. Separated they live in Bookmarksgrove right at the
                    coast of the Semantics, a large language ocean. -->
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div id="fh5co-couple-story">
    <div class="container">
      <div class="row">
        <div
          class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box"
        >
          <span>We Love Each Other</span>
          <h2>Our Story</h2>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-md-offset-0">
          <ul class="timeline animate-box">
            <li class="animate-box">
              <div
                class="timeline-badge"
                style="background-image: url(assets/images/couple-1.jpg)"
              ></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h3 class="timeline-title">First We Meet</h3>
                  <span class="date">December 25, 2015</span>
                </div>
                <div class="timeline-body">
                  <p>
                    Far far away, behind the word mountains, far from the
                    countries Vokalia and Consonantia, there live the blind
                    texts. Separated they live in Bookmarksgrove right at the
                    coast of the Semantics, a large language ocean.
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted animate-box">
              <div
                class="timeline-badge"
                style="background-image: url(assets/images/couple-2.jpg)"
              ></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h3 class="timeline-title">First Date</h3>
                  <span class="date">December 28, 2015</span>
                </div>
                <div class="timeline-body">
                  <p>
                    Far far away, behind the word mountains, far from the
                    countries Vokalia and Consonantia, there live the blind
                    texts. Separated they live in Bookmarksgrove right at the
                    coast of the Semantics, a large language ocean.
                  </p>
                </div>
              </div>
            </li>
            <li class="animate-box">
              <div
                class="timeline-badge"
                style="background-image: url(assets/images/couple-3.jpg)"
              ></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h3 class="timeline-title">In A Relationship</h3>
                  <span class="date">January 1, 2016</span>
                </div>
                <div class="timeline-body">
                  <p>
                    Far far away, behind the word mountains, far from the
                    countries Vokalia and Consonantia, there live the blind
                    texts. Separated they live in Bookmarksgrove right at the
                    coast of the Semantics, a large language ocean.
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->

  <div id="fh5co-gallery" class="fh5co-section-gray">
    <div class="container">
      <div class="row">
        <div
          class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box"
        >
          <span>Our Memories</span>
          <h2>Wedding Gallery</h2>
          <p>
            <!-- Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. -->
          </p>
        </div>
      </div>
      <div class="row row-bottom-padded-md">
        <div class="col-md-12">
          <ul id="fh5co-gallery-list">
			<li *ngFor="let item of list"
              class="one-third animate-box"
              data-animate-effect="fadeIn"
              [style]="styleBackGround(item)"
            >
              <a [href]="href(item)">
                
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div
    id="fh5co-counter"
    class="fh5co-bg fh5co-counter"
    style="background-image: url(assets/images/img_bg_5.jpg)"
  >
    <div class="overlay"></div>
    
  </div>

  <div id="fh5co-services" class="fh5co-section-gray">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
          <h2>We Offer Services</h2>
          <p>
            <!-- Dignissimos asperiores vitae velit veniam totam fuga molestias
            accusamus alias autem provident. Odit ab aliquam dolor eius. -->
          </p>
        </div>
      </div>

      <div class="row">
        

        <div class="col-md-12 animate-box">
          <div
            class="fh5co-video fh5co-bg"
            style="background-image: url(assets/images/img_bg_3.jpg)"
          >
            <a
              href="https://www.youtube.com/embed/Eefa1xgzEkE"
              class="popup-vimeo"
              ><i class="icon-video2"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Footer Start -->
<div class="container-fluid bg-dark text-white py-5" id="contact" style="margin-top: 90px;">
	<div class="container text-center py-5">
		<div class="fh5co-heading section-title position-relative text-center">
			<h2 class="text-white">Thank You</h2>
			<i class="far fa-heart text-white"></i>
		</div>
	</div>
</div>
<!-- Footer End -->
</div>

<div class="gototop js-top">
  <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>
